$hot-pink: #EA1589;
// $hot-pink-50: fade($hot-pink, .5);

$pink-light: #F58CC1;
$teal: #578385;
$dark-teal: #044446;
$gold: #DAA520;
$gold-light: #F0D797;

$cream: #FAEED1;
$white: #fff;


.franklin {
    font-family: "franklin-gothic-urw", sans-serif;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }